.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
}

.cards > ul > li {
  border-inline-end: 1px solid var(--dark-color);
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cards .cards-card-body {
  font-size: 16px;
}

.cards .cards-card-image {
  line-height: 0;
  display: flex;
  justify-content: center;
}

.cards .cards-card-body > *:first-child {
  margin-top: 0;
}

.cards > ul > li img {
  width: 2rem;
}

.section .cards-wrapper{
  max-width: none;
}

.section.cards-container {
  padding: 32px;
}

.section .default-content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.cards-container {
  box-shadow: 10px 10px 10px 10px grey;
  padding: 32px;
}