.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}

/***************** NEXA CARS ******************/

.nexa-cars h1 {
  font-size: 24px;
  font-weight: 700;
}

.nexa-cars .columns .grid {
  display: grid;
}

.nexa-cars .columns .grid .car {
  border-radius: 8px 8px 0 0;
  box-shadow: 0 0 10px 1px rgb(0 0 0 / 20%);
  position: relative;
}

.nexa-cars .columns .grid .car .modelImage {
  margin: 0;
  overflow: hidden;
}

.nexa-cars .columns .grid .car .modelImage img {
  border-radius: 8px 8px 0 0;
  transition: transform 0.5s ease;
}

.nexa-cars .columns .grid .car:hover .modelImage img {
  transform: scale(1.1);
}

.nexa-cars .columns .grid .car .price {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  position: absolute;
  left: 10px;
  top: 10px;
}

.nexa-cars .columns .grid .car .showroom {
  color: rgb(151 151 151);
  font-size: 13px;
  font-weight: 500;
  margin: 0;
  position: absolute;
  left: 10px;
  top: 30px;
}

.nexa-cars .columns .grid .car .modelName {
  display: inline-block;
  margin-left: 5px;
  width: 230px;
}

.nexa-cars .columns .grid .car .modelName img {
  width: auto;
}

.nexa-cars .columns .grid .car .downloadIcon {
  display: inline-block;
  margin-left: 20px;
}

.nexa-cars .columns .grid .car .downloadIcon {
  display: inline-block;
  margin-left: 10px;
}

.nexa-cars .columns .grid .car .downloadBrochure {
 display: inline-block;
}

.nexa-cars .columns .grid .car .downloadBrochure a {
  background: none;
  border: none;
  color: black;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  padding: 0;
  margin: 0;
  width: 100px;
  white-space: break-spaces;
}

.nexa-cars .columns .grid .car .downloadIcon a:hover {
  text-decoration: none;
}

.nexa-cars .columns .grid .car .button-container:first-of-type {
  display: inline-block;
  margin: auto 5px auto 10px;
  width: 45%;
}

.nexa-cars .columns .grid .car .button-container:last-of-type {
  display: inline-block;
  margin: auto 10px auto 5px;
  width: 45%;
}

.nexa-cars .columns .grid .car .button-container a {
  font-size: 14px;
  font-weight: 500;
  padding: 5px 0;
  text-transform: uppercase;
  width: 100%;
}

.nexa-cars .columns .grid .car .button-container:nth-of-type(1) a.button.secondary:hover {
  background-color: black;
  color: white;
}

@media (width>= 768px) {
  .nexa-cars .columns .grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
