.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}


/***************** NEXA CARS ******************/

.nexa-cars .columns > div {
  flex-wrap: wrap;
}

.nexa-cars .columns > div > div {
  align-items: flex-start;
  position: relative;
}

.nexa-cars .columns > div > div > div {
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, .2);
  -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, .2);
}
.nexa-cars .columns > div > div > div > p {
  margin 0;
}

.nexa-cars .columns > div > div > div > p img {
  border-radius: 8px 8px 0 0;
  transition: transform 0.5s ease;
}

.nexa-cars .columns > div > div > div > p:hover img {
  transform: scale(1.1);
}

.nexa-cars .columns > div > div > div > div {
  position: absolute;
  left: 10px;
  top: 25px;
}

.nexa-cars .columns > div > div > div > div > p:nth-of-type(1) {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}

.nexa-cars .columns > div > div > div > div > p:nth-of-type(2) {
  color: rgb(151 151 151);
  font-size: 13px;
  font-weight: 500;
  margin: 0;
}

@media (width >= 900px) {
  .columns > div {
    align-items: flex-start;
}

@media (width >= 900px) {
  .nexa-cars .columns > div > div {
    flex: 1 1 calc(33.33% - 32px);
  }
}