/* stylelint-disable */
.accordion details {
    display: block;
    background-color: var(--spectrum-gray-100);
    color: var(--non-spectrum-grey);
    padding: 0 16px;
}

.accordion details summary {
    box-sizing: content-box;
    cursor: pointer;
    list-style: none;
    padding: 16px 0;
    font-weight: var(--font-weight-700);
    font-size: var(--spectrum-font-size-100);
    line-height: 21px;
}

.accordion details summary :where(h2, h3, h4, h5, h6) {
    margin: 0;
    font: inherit;
    color: inherit;
    display: inline;
}

.accordion details summary::before {
    content: url("../../icons/chevron_right.svg");
    position: relative;
    top: 3.5px;
    left: -4.2px;
    margin-right: -2px;
}

.accordion details summary::-webkit-details-marker {
    display: none;
}

.accordion details summary::marker {
    content: none;
}

.accordion details div>div {
    color: var(--non-spectrum-raisin-black);
    font-size: var(--spectrum-font-size-200);
    line-height: var(--spectrum-line-height-m);

    /* margin-left: 14px;
    margin-top: 14px; */
}

.accordion details h1,
.accordion details h2,
.accordion details h3 {
    margin-top: 14px;
}

.accordion p {
    margin-top: 14px;
}

.accordion p:last-child {
    margin-bottom: 0;
}

.accordion ul {
    margin-top: 14px;
}

.accordion ul li {
    margin-top: 0;
    margin-bottom: 14px;
    line-height: 1.5;
}

.accordion ul li:last-child {
    margin-bottom: 0;
}

.accordion ul li ul {
    margin-bottom: 14px;
}

.accordion ol li p {
    margin-bottom: 8px;
}

ol .accordion summary {
    font-size: var(--spectrum-font-size-200);
}

ol .accordion ul {
    margin-bottom: 14px;
}

.accordion details .accordion {
    margin: 0;
}

.accordion details details summary {
    font-size: var(--spectrum-font-size-200);
    line-height: 24px;
}

.accordion details[open] {
    padding-bottom: 16px;
}

.accordion details[open] summary::before {
    content: url("../../icons/chevron_down.svg");
}

.accordion .code-wrapper,
.accordion .code-wrapper div,
.accordion .note-wrapper,
.accordion .note-wrapper div {
    margin-left: 0;
    margin-top: 0;
}

.accordion .code pre {
    padding: 14px;
    line-height: 21px;
}

.accordion .code code {
    font-size: var(--spectrum-font-size-100);
}

.shade-box .accordion-wrapper:first-child details {
    padding-top: 16px;
}

/* faq Accordion */

.faq-accordion-css .accordion-group-wrapper {
    background-color: var(--white);
    border-radius: 24px;
    box-shadow: 0 4px 9pt rgb(51 51 51 / 8%);
    padding: 0 2pc;
    border: 1px solid hsl(0deg 2% 75% / 40%);
}

.faq-accordion-css .accordion-group-wrapper .accordion-group.block.shade-box {
    padding: unset;
    border-radius: unset;
    margin-bottom: unset;
}

.faq-accordion-css .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block {
    border-bottom: 1px solid var(--solitude);
}


.faq-accordion-css .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block details {
    padding: unset;
}

.faq-accordion-css .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block details>div {
    padding-bottom: 44px;
    padding-left: 20px;
    margin-left: unset;
    margin-top: unset;
}

.faq-accordion-css .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block details>div p {
    margin-top: unset;
    color: var(--darkcharcoal);
    font-family: Nunito-Bold, sans-serif;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 28px;
    padding-bottom: 4px;
}

.faq-accordion-css .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block details h3,
.faq-accordion-css .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block summary {
    margin-top: unset;
    color: var(--darkcharcoal);
    font-family: Nunito-Bold, sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 28px;
    padding-bottom: 4px;

}

.faq-accordion-css .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block summary {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 2pc 0;
    position: relative;

}

.faq-accordion-css .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block summary::after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('../../icons/downArrow.png');
    background-size: cover;
    margin-left: 10px;
}

.faq-accordion-css .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block summary.active::after {
    transform: rotateX(175deg);

}

.faq-accordion-css .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block summary::before {
    content: unset
}

.faq-accordion-css .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block:last-child {
    border-bottom: unset;
}


/* Faq Accordion With Orange Heading on Active */
.faq-section-wrapper.faq-accordion-css-with-orange-heading {
    background-color: rgb(255 244 231 / 30%);
    padding-bottom: 72px;
    padding-top: 72px;
}

.faq-accordion-css-with-orange-heading .default-content-wrapper h2 {
    color: var(--black);
    display: block;
    font-family: Nunito-Extrabold, sans-serif;
    font-size: 2rem;
    font-weight: 800;
    line-height: 40px;
    padding-bottom: 8px;
    margin-bottom: 24px;
    width: 100%;
    text-align: start;
}

.faq-accordion-css-with-orange-heading .default-content-wrapper,
.faq-accordion-css-with-orange-heading .accordion-group-wrapper {
    max-width: 1240px;
    margin: auto;
}

.faq-accordion-css-with-orange-heading .accordion-group-wrapper .accordion-group.block.shade-box {
    background-color: unset;
    padding: unset;
    border-radius: unset;
    margin-bottom: unset;
}

.faq-accordion-css-with-orange-heading .accordion-group-wrapper {
    background-color: unset;
    border-radius: unset;
    box-shadow: unset;
    padding: unset;
    border: none;
}

.faq-accordion-css-with-orange-heading .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block details>div {
    color: var(--gradient-gray);
    font-family: Nunito-Regular, sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 28px;
    padding-bottom: 24px;
    padding-left: unset;
}

.faq-accordion-css-with-orange-heading .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block details {
    padding: unset;
}

.faq-accordion-css-with-orange-heading .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block {
    border-bottom: 1px solid var(--solitude);
}

.faq-accordion-css-with-orange-heading .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block summary {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 2pc 0;
    position: relative;

}

.faq-accordion-css-with-orange-heading .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block summary::after {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url('../../icons/downArrow.png');
    background-size: cover;

    /* margin-left: 10px; */
}


.faq-accordion-css-with-orange-heading .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block summary.active::after {
    transform: rotateX(175deg);

}

.faq-accordion-css-with-orange-heading .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block summary::before {
    content: unset
}

.faq-accordion-css-with-orange-heading .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block details h3,
.faq-accordion-css-with-orange-heading .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block details p,
.faq-accordion-css-with-orange-heading .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block details p>strong,
.faq-accordion-css-with-orange-heading .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block summary {
    margin-top: unset;
    color: var(--darkcharcoal);
    font-family: Nunito-Regular, sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 28px;

}

.faq-accordion-css-with-orange-heading .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block details>div h3,
.faq-accordion-css-with-orange-heading .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block details>div p,
.faq-accordion-css-with-orange-heading .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block details p>strong {
    color: var(--gradient-gray);
}

.faq-accordion-css-with-orange-heading .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block details p>strong {
    font-weight: bolder;
}

.faq-accordion-css-with-orange-heading .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block details p a {
    color: var(--orange);
}

.faq-accordion-css-with-orange-heading .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block details p a:hover{
    text-decoration: unset;
}

.faq-accordion-css-with-orange-heading .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block summary {
    padding: 24px 0
}

.faq-accordion-css-with-orange-heading .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block summary:first {
    padding-top: unset;
}

.faq-accordion-css-with-orange-heading .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block details>div {
    color: var(--gradient-gray);
    font-family: Nunito-Regular, sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 28px;
    margin-left: unset;
    margin-top: unset;
    width: 95%;
}

.faq-accordion-css-with-orange-heading .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block summary.active h3,
.faq-accordion-css-with-orange-heading .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block summary.active p,
.faq-accordion-css-with-orange-heading .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block summary.active {
    color: var(--orange);
    font-weight: 700;
}

.faq-blur {
    border-bottom: none !important;
    opacity: .3;
}

.section.faq-view-more-logic .default-content-wrapper {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.section.faq-view-more-logic .default-content-wrapper .button-container {
    background-color: transparent;
    border: 1px solid var(--greyishblue);
    border-radius: 8px;
    color: var(--greyishblue);
    cursor: pointer;
    padding: 1pc 24px;
    font-family: nunito-bold;
    font-size: 1.125rem;
}

.faq-accordion-css-with-orange-heading .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block summary>div,
.faq-accordion-css-with-orange-heading .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block summary>div>p {
    margin: 0;
}

.faq-accordion-css-with-orange-heading .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block>details ul {
    margin: unset;
    list-style: disc;
    margin-left: 18px;
}

.faq-accordion-css-with-orange-heading .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block>details ul>li {
    color: var(--gradient-gray);
    font-size: 1.25rem;
    line-height: 28px;
    font-family: Nunito-Regular;
    margin: unset;
    padding-left: 10px;
}

.faq-accordion-css-with-orange-heading .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block>details ul>li::marker {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.section.faq-section-wrapper .accordion-group-wrapper .accordion-group .accordion details summary div{
    width: 98%;
}

.faq-section-wrapper .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block{
    border-bottom: 1px solid var(--solitude);
}

.faq-accordion-css-with-orange-heading .accordion-group-wrapper > .accordion-group > .accordion details > div > ul > li > strong{
    color: var(--gradient-gray);
    font-family: Nunito-Regular, sans-serif;
    font-size: 20px;
    font-weight: bolder;
    line-height: 28px;
}

.section.faq-accordion-css-with-orange-heading.faq-accordion-table-content .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block details>div>ol {
    border: 1px solid var(--black);
    max-width: 340px;
    width: 100%;
}

.section.faq-accordion-css-with-orange-heading.faq-accordion-table-content .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block details>div>ol>li {
    list-style-type: none;
    color: var(--gradient-gray);
    font-family: Nunito-Regular,sans-serif;
    font-size: 1.25rem;
    line-height: 28px;
}

.section.faq-accordion-css-with-orange-heading.faq-accordion-table-content .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block details>div>ol>li>strong {
    font-family: Nunito-Bold,sans-serif;
    font-weight: 700;
}

.faq-accordion-css-with-orange-heading.faq-accordion-orange-link .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block details p>a {
    color: var(--orange);
}

/* End */

@media screen and (width <=767px) {
    .faq-section-wrapper.faq-accordion-css-with-orange-heading {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .faq-accordion-css-with-orange-heading .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block summary>div {
        width: 83%;
    }

    .faq-accordion-css .accordion-group-wrapper {
        padding: 0 16px;
        border-radius: 12px;
    }

    .faq-accordion-css .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block details h3 {
        font-size: 1.125rem;
        line-height: 28px;
    }

    .faq-accordion-css .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block summary {
        padding: 1pc 0;
        font-size: 1.125rem;
        line-height: 28px;
    }

    .faq-accordion-css .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block details>div {
        padding-bottom: 2pc;
        padding-left: unset;
    }

    .cmp-container--documentrequired>.cmp-container .documentrequired .required-document-container {
        padding: 12px 16px
    }

    .faq-accordion-css .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block details>div p {
        font-size: 1rem;

    }

    /* accordion with orange heading */
    .faq-accordion-css-with-orange-heading .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block details>div {
        font-size: 1rem;

    }

    .faq-accordion-css-with-orange-heading .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block details h3,
    .faq-accordion-css-with-orange-heading .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block details p,
    .faq-accordion-css-with-orange-heading .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block details p>strong,
    .faq-accordion-css-with-orange-heading .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block summary {
        font-size: 1rem;
        line-height: 24px;
        align-items: flex-start;
    }

    .faq-accordion-css-with-orange-heading .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block details h3 {
        width: 83%;
    }

    .faq-accordion-css-with-orange-heading .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block summary.active h3,
    .faq-accordion-css-with-orange-heading .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block summary.active p,
    .faq-accordion-css-with-orange-heading .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block summary.active {
        color: var(--orange);
        font-size: 1rem;
    }

    .faq-accordion-css-with-orange-heading .default-content-wrapper h2 {
        font-size: 1.25rem;
        line-height: 28px;
    }

    .faq-accordion-css-with-orange-heading .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block>details ul {
        margin-left: 16px;
    }


    .faq-accordion-css-with-orange-heading .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block>details ul>li {
        font-size: 1rem;
        line-height: 24px;
        padding-left: 5px;
    }

    .faq-accordion-css-with-orange-heading .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block>details ul>li::marker {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .section.faq-view-more-logic .default-content-wrapper .button-container{
        width: 100%;
        font-size: 1rem;
        line-height: 24px;
    }

    .faq-section-wrapper .default-content-wrapper h2{
        margin-bottom: unset;
    }

    /* .section.faq-section-wrapper .default-content-wrapper{
        padding-top: 10px;
    } */
    .faq-accordion-css-with-orange-heading .accordion-group-wrapper > .accordion-group > .accordion details > div > ul > li > strong{
        font-size: 1rem;
        line-height: 24px;
    }

    .section.inventory-financing .default-content-wrapper > p{
        font-size: 0.875rem;
        line-height: 20px;
    }

    .section.inventory-financing .default-content-wrapper > p > strong{
        font-size: 0.875rem;
        line-height: 20px;
    }

    .section.inventory-financing .default-content-wrapper > ul > li > p >strong{
        font-size: 0.875rem;
        line-height: 20px;
    }

    .section.inventory-financing .default-content-wrapper > h2{
        font-size: 1.125rem;
        line-height: 27px;
    }

    .section.faq-accordion-css-with-orange-heading.faq-accordion-table-content .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block details>div>ol {
        max-width: 275px;
    }

    .section.faq-accordion-css-with-orange-heading.faq-accordion-table-content .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block details>div>ol>li {
        font-size: 1rem;
        line-height: 24px;
    }
}

@media screen and (width >=768px) and (width <=1024px) {
    .section.faq-accordion-css-with-orange-heading.faq-accordion-table-content .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block details>div>ol {
        max-width: 343px;
    }
}
