footer {
  padding: 2rem;
  background-color: black;
  font-size: var(--body-font-size-s);
  color: white;
}

footer .footer {
  /* max-width: 1200px; */
  margin: auto;
}

footer .footer p {
  margin: 0;
}

footer .columns-wrapper {
  max-width: max-content;
  margin: auto;
}

footer .columns-wrapper .columns div div ul {
  list-style-type: none;
  display: contents;
  margin-top: 5px;
}

footer .columns-wrapper .columns div div ul li a {
  font-size: 14px;
  color: white;
}

footer .columns-wrapper .columns div div ul li a:hover {
  color: white;
}

footer .cards {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: auto;
  gap: 5px;
}

footer .default-content-wrapper p {
  font-size: .875rem;
  line-height: 1.25rem;
}

footer .default-content-wrapper h5 {
  font-size: 1rem;
  font-weight: 700;
}

footer .cards div div h5 {
  font-size: 15px;
}

footer .columns-wrapper .columns div div h5 {
  font-size: inherit;
  font-weight: inherit;
}
